{% extends 'bleecker.layout.twig' %}

{% block content %}

    
        
            
            <div class="col-md-9">
                {% for post in posts %}
                <div class="post">
                    <h2 class="post-title"><a href="/{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="post-date">Posted on {{ post.date|date('M d, Y') }}</div>
                    <div class="post-text">
                        {{ post.body }}
                    </div>
                </div>
                
               {% endfor %}

               {% if prevPage %}
                <a href="/all/{{ prevPage }}">newer</a>
                {% endif %}
                {% if prevPage and nextPage %}
                 | 
                {% endif %}
                {% if nextPage %}
                <a href="/all/{{ nextPage }}">older</a>
                {% endif %}
                
            </div>
        
    

{% endblock %}